<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ValidarLogin</servlet-name>
        <servlet-class>Controllers.ValidarLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Conexao</servlet-name>
        <servlet-class>Model.Conexao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FuncionarioDAO</servlet-name>
        <servlet-class>Model.FuncionarioDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FuncionarioController</servlet-name>
        <servlet-class>Controllers.FuncionarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoriaController</servlet-name>
        <servlet-class>Controllers.CategoriaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClienteController</servlet-name>
        <servlet-class>Controllers.ClienteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompraController</servlet-name>
        <servlet-class>Controllers.CompraController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FornecedorController</servlet-name>
        <servlet-class>Controllers.FornecedorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProdutoController</servlet-name>
        <servlet-class>Controllers.ProdutoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProdutoControllerCli</servlet-name>
        <servlet-class>Controllers.ProdutoControllerCli</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VendaController</servlet-name>
        <servlet-class>Controllers.VendaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoriaDAO</servlet-name>
        <servlet-class>Model.CategoriaDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClienteDAO</servlet-name>
        <servlet-class>Model.ClienteDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompraDAO</servlet-name>
        <servlet-class>Model.CompraDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FornecedorDAO</servlet-name>
        <servlet-class>Model.FornecedorDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProdutoDAO</servlet-name>
        <servlet-class>Model.ProdutoDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProdutoDAOCli</servlet-name>
        <servlet-class>Model.ProdutoDAOCli</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VendaDAO</servlet-name>
        <servlet-class>Model.VendaDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Controllers.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Controllers.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioDAO</servlet-name>
        <servlet-class>Model.RelatorioDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioController</servlet-name>
        <servlet-class>Controllers.RelatorioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cliente</servlet-name>
        <servlet-class>Controllers.Cliente</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ValidarLogin</servlet-name>
        <url-pattern>/ValidarLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Conexao</servlet-name>
        <url-pattern>/Conexao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FuncionarioDAO</servlet-name>
        <url-pattern>/FuncionarioDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FuncionarioController</servlet-name>
        <url-pattern>/FuncionarioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoriaController</servlet-name>
        <url-pattern>/CategoriaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClienteController</servlet-name>
        <url-pattern>/ClienteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompraController</servlet-name>
        <url-pattern>/CompraController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FornecedorController</servlet-name>
        <url-pattern>/FornecedorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProdutoController</servlet-name>
        <url-pattern>/ProdutoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProdutoControllerCli</servlet-name>
        <url-pattern>/ProdutoControllerCli</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VendaController</servlet-name>
        <url-pattern>/VendaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoriaDAO</servlet-name>
        <url-pattern>/CategoriaDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClienteDAO</servlet-name>
        <url-pattern>/ClienteDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompraDAO</servlet-name>
        <url-pattern>/CompraDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FornecedorDAO</servlet-name>
        <url-pattern>/FornecedorDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProdutoDAO</servlet-name>
        <url-pattern>/ProdutoDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProdutoDAOCli</servlet-name>
        <url-pattern>/ProdutoDAOCli</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VendaDAO</servlet-name>
        <url-pattern>/VendaDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioDAO</servlet-name>
        <url-pattern>/RelatorioDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioController</servlet-name>
        <url-pattern>/RelatorioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cliente</servlet-name>
        <url-pattern>/Cliente</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
